<li>
    <a href="@Url.Action("GioHang","GioHang")"
       style="color: #337ab7; text-decoration: none;">
        <img src="~/Image/ic_add_shopping_cart_128_28122.png" />Giỏ hàng(@ViewBag.TongSoLuong)
    </a>
</li>
